@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: 220, 228, 242;
  --dark-gray: 33, 34, 38;
  --dark-red: 185, 28, 28;
  --bright-red: 242, 38, 38;
}

main {
  margin: 0 auto;
}


/* Scrollbar Styles */
/* ::-webkit-scrollbar {
  width: 10px;
} */
/* Track */
/* ::-webkit-scrollbar-track {
  background: rgb(var(--cream)); 
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgb(var(--dark-red));
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover, body.scrolled::-webkit-scrollbar-thumb {
  background: rgb(var(--bright-red));
} */



/* Custom Tailwind */
.bg_dark {
  background-color: rgb(var(--dark-gray));
}

.bg_cream {
  background-color: rgb(var(--cream));
}
.hover\:bg_cream:hover {
  background-color: rgb(var(--cream));
}
.hover\:bg_dark:hover {
  background-color: rgb(var(--dark));
}
.hover\:border_cream:hover {
  border-color: rgb(var(--cream));
}

.text_dark {
  color: rgb(var(--dark-gray));
}
.text_cream {
  color: rgb(var(--cream));
}
.border_cream {
  border-color: rgb(var(--cream));
}

/* #b91c1c */



/* Animation down */
.moving {
  transition: transform 1s ease-in-out;
}
